## **PYTHON VARIABLES — Giri's Practice Notebook**
### Topic: Variables + Variable Naming Rules


## COMMENTS:
#### To explain Python code we use comments that symbols "#":


## VARIABLES:
#### Variables are containers for storing data values:

## Creating Variables:

In [7]:
a = 8
b = "Giri"
print(a)
print(b)

8
Giri

##  Example 1: store basic information

In [8]:
name = "Giri"      # person's name
age = 22           # person's age
city = "Mysore"    # current city

print(name, age, city)

Giri 22 Mysore

In [9]:
a = 8431      # is int
a = "Giri"   # is now str
print(a)

Giri

## Casting:

In [10]:
a = str(4)   # a will be '4'
b = int(4)   # b will be 4
c = float(4) # c will be 4.0

print(a)
print(b)
print(c)

4
4
4.0

## To get Type:

In [11]:
a = 8
b = "Giri"
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

## We can use Both single or Double quotes:

In [12]:
g = "Gireesh"
print(g)
#  same as
g = 'Gireesh'
print(g)

Gireesh
Gireesh

## Variable names = Case-sensitive:

In [13]:
g = 8
G = "Gireesh"      # Both g and G are different not same:

print(g)
print(G)

8
Gireesh

## Variable Naming Rules

1. Must start with a letter (a–z / A–Z) or underscore (_)
2. Cannot start with a number
3. Can contain letters, numbers, and underscores
4. Case-sensitive (age ≠ Age)
5. No special characters like @, #, $, %, etc.
6. Python keywords are not variable names.

## Legal_Variable_names:

In [14]:
myname = "Giri"
his_name = "Ganesh"
_her_name = "Geeta"
myFriendName = "Akash"
MYBRONAME = "Gagan"
mysis2 = "Rekha"

print(myname)
print(his_name)
print(_her_name)
print(myFriendName)
print(MYBRONAME)
print(mysis2)

Giri
Ganesh
Geeta
Akash
Gagan
Rekha

## Illegal Variable Names (these cause errors)
### 1myname = "Giri"
### his-name = "Gagan"
### her name = "Geeta"

## Three techniques to read variable_names:

**1 Camel Case :** Except the first one each word start with a capital letter:

In [15]:
myName = "Giri"
print(myName)

Giri

**2 Pascal Case :** Each word starts with a capital letter:

In [16]:
MyGoal = "Developer"
print(MyGoal)

Developer

**3 Snake_Case :** It is seperated by an underscore character:

In [17]:
my_monthly_salary = 100000
print(my_monthly_salary)

100000