# F strings:

In [1]:
# Create an f - string:

name = "Giri"
age = 27
job = "Developer"

text = f" My name is {name} i am {age} and my role is {job}"
print(text)

 My name is Giri i am 27 and my role is Developer

In [2]:
# By using modifiers:

price = 42
txt = f"The price is {price:.2f} rupees"
print(txt)

The price is 42.00 rupees

In [5]:
# Placeholder can contain math operations:

price = 42
txt = f"The price of 8 products is {42 * 8} rupees"
print(txt)

The price of 8 products is 336 rupees

## Practice Examples:

In [6]:
# Example 1: Full name + age after 5 years
first_name = "Giri"
last_name = "B"
current_age = 25

future_age = current_age + 5
print(f"Name: {first_name} {last_name}, Age after 5 years: {future_age}")

Name: Giri B, Age after 5 years: 30

In [7]:
# Example 2: Average of 3 numbers
a = 45
b = 55
c = 60

average = (a + b + c) / 3
print(f"Average of {a}, {b}, and {c} is {average:.2f}")

Average of 45, 55, and 60 is 53.33

In [8]:
# Example 3: Temperature conversion
celsius = 30
fahrenheit = (celsius * 9/5) + 32

print(f"{celsius}°C is equal to {fahrenheit}°F")

30°C is equal to 86.0°F

In [9]:
# Example 4: Length comparison
word1 = "developer"
word2 = "python"

len1 = len(word1)
len2 = len(word2)

print(f"'{word1}' length = {len1}, '{word2}' length = {len2}")

'developer' length = 9, 'python' length = 6

In [10]:
# Example 5: Conditional text formatting
num = 17

print(f"Number {num} is {'Even' if num % 2 == 0 else 'Odd'}")

Number 17 is Odd

## REAL-LIFE f-STRING EXAMPLES:

In [11]:
# Example 6: Employee salary summary
name = "Giri"
basic = 30000
bonus = 5000

total = basic + bonus
print(f"Employee: {name}")
print(f"Total Salary: ₹{total}")

Employee: Giri
Total Salary: ₹35000

In [12]:
# Example 7: Fitness progress
start_weight = 60
current_weight = 64

print(f"Weight Progress: +{current_weight - start_weight} kg")

Weight Progress: +4 kg

In [13]:
# Example 8: Online order summary
item = "Laptop"
qty = 1
price = 42000

print(f"Order: {item}")
print(f"Payable Amount: ₹{qty * price}")

Order: Laptop
Payable Amount: ₹42000

In [14]:
# Example 9: Exam report
student = "Giri"
marks = 78

print(f"Student: {student} | Result: {'Pass' if marks >= 35 else 'Fail'}")

Student: Giri | Result: Pass

In [15]:
# Example 10: Date & time display
day = 5
month = 1
year = 2026
hour = 6
minute = 5

print(f"{day:02}-{month:02}-{year} {hour:02}:{minute:02}")

05-01-2026 06:05